.Clients
    margin: 0 auto
    height: 80vh

.clients-nav-buttons
    width: 100%
    display: flex
    flex-flow: row nowrap
    
.tabLink
    font-family: Open Sans, sans-serif
    text-decoration: none
    text-transform: uppercase
    cursor: pointer
    margin: .5rem 1rem
