.player-wrapper {
  border: 1px solid red;
  position: relative;
  padding-top: 56.25%;
}

/* .react-player{
    border: 3px solid greenyellow;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
} */
